:root {
  counter-reset: timestamp;
  --space-between-timestamp: 48px;
  --space-from-step: 16px;
  --step-size: 36px;
}

* {
  box-sizing: border-box;
}

.timestamp {
  display: flex;
  margin-bottom: var(--space-between-timestamp);
}

.timestamp:last-child {
  margin-bottom: 0;
}

.timestamp__body {
  width: calc(100% - var(--step-size) / 2 - var(--space-from-step));
  position: relative;
  background-color: rgb(69, 174, 216);
  margin-left: calc(var(--step-size) + var(--step-size) / 2);
}

.timestamp__body::before {
  counter-increment: timestamp;
  content: counter(timestamp);
  display: block;
  position: absolute;
  height: var(--step-size);
  width: var(--step-size);
  line-height: var(--step-size);
  text-align: center;
  background: rgb(128, 128, 233);
  border-radius: 50%;
  left: calc(0px - var(--step-size) - var(--space-from-step));
  left: calc(0px - var(--step-size) - var(--space-from-step));
  top: calc(50% - var(--step-size) / 2);
  z-index: 1;
}

.timestamp__body::after {
  content: '';
  display: block;
  border-left: 2px solid rgb(128, 128, 233);
  height: calc(100% + var(--space-between-timestamp));
  position: absolute;
  top: 0;
  left: calc(-1px - var(--step-size) / 2 - var(--space-from-step));
}

.timestamp:first-child .timestamp__body::after {
  height: calc(50% + var(--space-between-timestamp));
  top: 50%;
}

.timestamp:last-child .timestamp__body::after {
  height: 50%;
  top: 0;
}

@media (min-width: 768px) {
  .timestamp__body {
    width: calc(50% - var(--step-size) / 2 - var(--space-from-step));
    margin-left: var(--step-size);
  }

  .timestamp:nth-child(odd) .timestamp__body {
    margin-left: 0;
  }

  .timestamp:nth-child(even) .timestamp__body {
    margin-right: 0;
    margin-left: var(--step-size);
  }
  
  .timestamp:nth-child(even) {
    justify-content: flex-end;
  }

  .timestamp:nth-child(odd) .timestamp__body::before {
    left: auto;
    right: calc(0px - var(--step-size) - var(--space-from-step));
  }

  .timestamp:nth-child(odd) .timestamp__body::after {
    left: auto;
    right: calc(-1px - var(--step-size) / 2 - var(--space-from-step));
  }
}